* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	background-color: #f6f6f6;
	color: #212121;
	line-height: 1.45;
	font-family:"Tahoma", sans-serif;
}
a,
a:hover,
a:link,
a:focus {
	color:#446CB3;
	text-decoration:none;
}
li {
    position:relative;
}
li a:after {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    content:"";
}
.container:after,
article:after,
.wrapper:after,
#dashboard section:after {
    content: "";
    position: relative;
    display: block;
    clear: both;
}
.container {
    width: 960px;
    margin: 10px auto;
    max-width: 95%;
}
.txt {
    padding: 7px 10px;
    border: 1px solid #eee;
    width: 100%;
    letter-spacing: 2px;
    position: relative;
}
textarea.txt {
	letter-spacing:1px;
}
.btn {
    background-color: #f9f9f9;
    border: 0;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: #888;
    outline: none;
    min-height: 50px;
}
button[disabled] {
    color: #a39393;
    background-color: #cccccc;
    cursor: wait;
}
.wrapper {
	padding: 10px 25px;
	margin-bottom: 20px;
}
a.link-to {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .7em;
}
/* Form table */
form table {
    width: 395px;
    margin: 0 auto;
    letter-spacing: 1px;
}
button[disabled] {
    color: #a39393 !important;
    background-color: #cccccc !important;
    cursor: wait !important;
}
form h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 30px;
    color: #666666;
}
form table tr td:first-child {
    width: 15%;
    text-align: right;
    vertical-align: baseline;
}
form table td {
    padding: 2px 10px;
}
form table td label {
    font-size: .8em;
}
form table td span {
    color: #D64541;
    font-size: .7em;
    padding-left: 7px;
}
form table tr:last-child button {
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}
tr.status {
    display:none;
    width: 100%;
}
tr.status td{
    text-align: center !important;
    width: 100% !important;
}
tr.status #messagelog {
    color: #fff;
    font-size:1em;
    text-transform:uppercase;
    margin-bottom: 15px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 5px;
    border-radius: 2px;
}
tr.status.success #messagelog {
    background-color: #03C9A9;
}
tr.status.failed #messagelog {
    background-color: #D64541;
}
#register table,
#login table {
    background-color: white;
    padding: 30px 20px 35px;
    border-radius: 2px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

#dashboard section {
    display: block;
    float: left;
}
#dashboard {
	background-color: #446cbc;
	padding: 0;
}
#dashboard section.sidebar {
    width: 20%;
    background-color: #446cbc;
    color: #f9f9f9;
    padding:10px 20px;
    text-align: center;
    font-weight: bold;
}
#dashboard section.main {
    width: 80%;
    background-color:#fff;
    padding:15px 20px;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius:2px;
    color: #777;
    font-size: .9em;
    min-height: 400px;
}
ul.sidebar-menu li {
    display: block;
    letter-spacing: 2px;
    padding: 15px 0;
    font-size: 0.8em;
}
ul.sidebar-menu li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
ul.sidebar-menu li  a {
	color:inherit;
	text-transform:uppercase;
}

table.data {
    margin: 10px auto;
    width: 100%;
}
table.data td {
    padding: 10px 15px;
    vertical-align: -webkit-baseline-middle;
}
table.data, table.data tr, table.data td {
    border-collapse: collapse;
    border: 1px solid #efefef;
}
table.data th {
	background-color: #446cbc;
	padding: 10px;
	text-transform: uppercase;
	border: 1px solid #6789ce;
	color: white;
}
table.data td:first-child {
    text-align: right;
    width: 20%;
}
table.data tr:nth-child(even) {
    background-color: #f7f7f7;
}
table.data tr:nth-child(odd) {
    background-color: #fdfdfd;
}
h1.greeting {
    margin: 10px 0 20px;
    font-size: 2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
ul.navigate li {
    background-color: #446cbc;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

ul.navigate li a {
    color: inherit;
}
button#btndelete {
    margin-top: 5px;
    height: 50px;
}
button.btndelete {
    background-color: #D64541;
    color: #fff;
}
article {
    background-color: #fff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    margin: 8px 1%;
    width: 48%;
    float: left;
    padding-top:15px;
    height: 300px;
    overflow: hidden;
    padding-bottom: 20px;
}

article .title {
    margin-bottom: 5px;
    text-transform: capitalize;
}
article .content {
    font-size: .9em;
    color: #444;
    height: 120px;
    overflow: hidden;
}
article .detail {
    font-size: .7em;
    margin: 1px 0px 10px;
    color: #999;
}
ul.nav li {
    display: inline-block;
    padding: 15px 10px;
    letter-spacing:2px;
    text-transform:uppercase;
    font-size:.8em;
}
ul.nav li:first-child {
    padding-left:40px;
}
nav {
    background-color: #446cbc;
    color: #fff;
    margin:-10px 1% 0;
}

nav a {
    color: inherit !important;
}
article.full {
    float: none;
    width: 100%;
    height: auto;
}

article.full h1 {
    font-size: 3em;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

article.full .detail {
    text-align: center;
    font-size: 1em;
}

article.full .content {
    line-height: 1.5;
    font-size: 1em;
    margin-top: 25px;
    padding: 0 15px;
    height: auto;
    margin-bottom: 30px;
}
article.full .content p {
    margin: 25px 0;
}